body {
    width: 100%;
    
    display: flex;
    flex-direction: column;

    font-family: Roboto;
}

.tela-login {
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: flex-start;


    background-color: #E5E5E5;
}

.tela-login div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 72px;
}

.logo img {
    width: 130px;

    padding-bottom: 94px;
}

.tela-login input{
    width: 261px;
    height: 54px;

    border: 0px solid #E5E5E5;

    font-size: 18px;
    line-height: 25px;
    
    padding-bottom: 15px;
}

.tela-login input::placeholder {
    text-align: center;
    color: #AEAEAE;
}

.tela-login button {
    width: 109px;
    height: 45px;

    border: 0px solid #E5E5E5;
    
    color: #696969;
    
    font-size: 18px;
    line-height: 25px;
}

header {
    width: 100%;
    height: 80px;
    
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.icone-uol img {
    width: 75px;

    padding-left: 22px;
}

header ion-icon {
    width: 75px;
    height: 53px;

    padding-right: 22.4px;
}

.chat {
    width: 100%;
    height: 100%;
    
    padding: 80px 0;

    overflow-y: scroll;
    
    background-color: #E5E5E5;
}

.mensagem {
    display: flex;
    flex-wrap: wrap;

    border-radius: 2px;
    background-color: #FFFFFF;
    
    font-size: 14px;
    margin: 5px 0;
    align-items: center;
    
    padding: 10px;
}

.mensagem span {
    color: #AAAAAA;
    padding: 2px 3px;
}

.mensagem p {
    overflow-wrap: break-word;
    word-break: break-word;
}

.privado{
    background-color: #FFDEDE;
}

.status{
    background-color: #DCDCDC;
}

.barra-mensagens {
    width: 100%;
    height: 80px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.barra-mensagens input {
    width: 100%;
    height: 100%;

    border: 0 solid #FFFFFF;

    font-size: 18px;
}

.barra-mensagens input::placeholder {
    text-align: justify;
    text-justify: inter-word;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
}

.barra-mensagens ion-icon {
    width: 26px;
    height: 26px;

    padding: 28px 18px;
}

.escondido {
    display: none;
}